<!-- File:change_password.html -->
<!-- Copyright(C) OldTaoge 2020.All rights reserved.-->
<!-- By GPL v3.0 -->
{% extends 'advance/base.html' %}
{% block head %}
    <script language="JavaScript">
        function equal() {
            var password_old = document.getElementById("inputPassword1").value;
            var password1 = document.getElementById("inputPassword2").value;
            var password2 = document.getElementById("inputPassword3").value;
            if (password2 === ""){
                if(password1 === password_old){
                    document.getElementById("p1_p").innerHTML="与旧密码相同！";
                    {#alert("1");#}
                    return false;
                }
                else{
                    document.getElementById("p1_p").innerHTML="";
                    {#alert("2");#}
                    return false;
                }
            }
            if (password2 != password1){
                document.getElementById("p2_p").innerText="密码不匹配！";
                {#alert("3");#}
                return false;
            }
            else {
                document.getElementById("p2_p").innerText="";
                {#alert("4");#}
                return false;
            }
        }
    </script>
{% endblock head %}
{% block base %}
<div class="container">
	<div class="row clearfix">
		<div class="col-sm-12 column">
			<div class="page-header">
				<h1>
					信息统计系统 <small>修改密码</small>
				</h1>
			</div>
            <div class="jumbotron">
              <h1>修改密码</h1>
              <div class="alert alert-warning" role="alert"><p>您将会修改您的密码</p></div>

{#              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
                {% if status == "success" %}
                <div class="alert alert-success" role="alert">修改成功</div>
                {% endif %}
            </div>
            <form class="form-horizontal" method="post" name="form">
              <div class="form-group">
                <label for="inputPassword1" class="col-sm-2 control-label">旧密码</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="inputPassword1" name="old_passwd" placeholder="Password">
                </div>
{#                <span id="po_p" class="col-sm-2 control-label">{{ po_p }}</span>#}
              </div>
              <div class="form-group">
                <label for="inputPassword2" class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="inputPassword2" name="new_passwd" placeholder="Password" onchange="equal()">
                </div>
                <span id="p1_p" class="col-sm-3 control-label">{{ p0_p }}</span>
              </div>
                 <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="inputPassword3" onchange="equal()" placeholder="Password">
                </div>
                <span id="p2_p" class="col-sm-3 control-label left">{{ p1_p }}</span>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">提交</button>
                </div>
              </div>
              <input type="hidden" name="do" value="verify">
              {% csrf_token %}
            </form>
		</div>
	</div>
</div>
{% endblock base %}