<!-- File:base.html -->
<!-- Copyright(C) OldTaoge 2020.All rights reserved.-->
<!-- By GPL v3.0 -->
{% extends 'xxtj/base.html' %}
{% load static %}
{% block daohanglan %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">班级信息<strong class="caret"></strong></a>
             <ul class="dropdown-menu">
                <li>
                     <a href="{% url 'advance:cla_inf' %}">班级信息</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:add_cla' %}">添加班级</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:edit_cla' %}">修改班级</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">学生信息<strong class="caret"></strong></a>
             <ul class="dropdown-menu">
                <li>
                     <a href="{% url 'advance:stu_inf' %}">学生信息</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:add_stu' %}">添加学生</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:edit_stu' %}">修改学生</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">统计信息<strong class="caret"></strong></a>
             <ul class="dropdown-menu">
                <li>
                     <a href="{% url 'advance:sta_inf' %}">统计信息</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:add_sta' %}">添加统计</a>
                </li>
                <li class="divider">
                </li>
                <li>
                     <a href="{% url 'advance:edit_sta' %}">修改统计</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">账户信息<strong class="caret"></strong></a>
             <ul class="dropdown-menu">
                <li>
                     <a href="{% url 'advance:personal' %}">个人信息</a>
                </li>
                 {% if admin_Authority %}
                     <li class="divider">
                    </li>
                    <li>
                         <a href="{% url 'advance:account_console' %}">系统管理</a>
                    </li>
                    <li>
                         <a href="{% url 'advance:account_console.add_admin' %}">添加账号</a>
                    </li>
                 {% endif %}
            </ul>
        </li>
    </ul>
{% endblock daohanglan %}
{% block live2d %}
    <!-- 实现拖动效果，需引入 JQuery UI -->
    <script src="{% static 'live2d/jquery-ui.min.js' %}"></script>

    <!-- 使用 aotuload.js 引入看板娘 -->
    <script src="{% static 'live2d/autoload.js' %}"></script>
{% endblock live2d%}
