<!-- File:edit.html -->
<!-- Copyright(C) OldTaoge 2020.All rights reserved.-->
<!-- By GPL v3.0 -->
{% extends 'advance/base.html' %}
{% block head %}
<script >
    function validateForm()
    {
        var name=document.forms["form"]["name"].value;
        var class_id=document.forms["form"]["class"].value;
        if (name==""){
            alert("必须填写姓名");
            return false;
        }
        if (class_id==0) {
            alert("必须选择班级");
            return false;
        }
        createRequest("{% url 'advance:ajax' %}?do=edit_stu&stu={{ stu_inf.pk }}&stu_name="+name+"&class_id="+class_id)
    }
    var xmlhttp = false;
    function createRequest(url) {
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
            if(xmlhttp.overrideMimeType){
                xmlhttp.overrideMimeType("text/xml");
            }
        } else if(window.ActiveXObject) {
            try{
                xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
            }catch (e) {
                try {
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP")
                }catch (e) {}
            }
        }
        if(!xmlhttp){
            alert("不能创建xmlhttp实例，请不要使用兼容模式或更换浏览器！")
            return false;
        }
        xmlhttp.onreadystatechange = alertContents;
        xmlhttp.open("GET", url, true);
        xmlhttp.send(null);
    }
    function alertContents() {
        var return_obj;
        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
            return_obj = JSON.parse(xmlhttp.responseText);
            if (return_obj.status === "success"){
                alert("修改成功");
                window.location.replace("{% url 'advance:add_stu'%}");
            }
            else{
                alert("修改失败");
                window.location.replace("{% url 'advance:add_stu'%}");
            }
        }
        if(xmlhttp.readyState === 4 && xmlhttp.status === 500){
            alert("格式有误")
        }
    }
</script>
{% endblock head %}
{% block base %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
            <div class="page-header">
				<h1>
					信息统计系统 <small>修改学生</small>
				</h1>
			</div>
            <form class="form-horizontal" role="form" id="form">
				<div class="form-group">
					 <label for="name_dis" class="col-sm-2 control-label">学生名</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="name" value="{{ stu_inf.student_name }}"/>
					</div>
				</div>
				<div class="form-group">
					 <label for="person_num" class="col-sm-2 control-label">班级</label>
					<div class="col-sm-10">
                        <select class="form-control" id="class">
                            <option value="0"></option>
                            {% for item in class_inf %}
                                {% if item.pk == stu_cla %}
                                    <option value="{{ item.pk }}" selected>{{ item.name_dis }}</option>
                                {% else %}
                                    <option value="{{ item.pk }}">{{ item.name_dis }}</option>
                                {% endif %}
                            {% endfor %}

                        </select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						 <button type="button" class="btn btn-default" onclick="validateForm()">提交</button>
					</div>
				</div>
                <input type="hidden" name="do" value="add_cla">
			</form>
            <p>说明</p>
            <small>班级信息和统计信息请在对应的页面修改</small>
			</blockquote>
		</div>
	</div>
</div>
{% endblock base %}